body {
    color: #FCE09B;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font: 400 36px/normal 'Open Sans', 'sans-serif' ;
    max-width: 1920px;
    min-width: 360px;
    gap: 0px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size:72px;
}

h2 {
    font-size:40px;
}

h3 {    
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}








.startingpage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background: var(--main-green, #186F65);
    max-width: 1920px;
}
.headerlogoheadline {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    white-space: nowrap;
}
.headlinelogo {
    display: flex;
    align-items: center;
    gap: 25px;
}
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hdlinet {
    color: var(--secondary-green, #B5CB99);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hdlineb {
    color: var(--secondary-green, #B5CB99);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}



.mainmenu {
    background: var(--main-red, #B2533E);

    height: 61px;

    display: flex;
    padding: 0px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

}
.navbarli {
    display: flex;
    align-items: flex-start;
}
.navbarlit {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
.navbarlib {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    padding-left: 50px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.navbar__item {
    color: var(--secondary-biege, #FCE09B);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    list-style-type: none;
}

.navbar__link {
    text-decoration: none;
}

.searchpersonalarea {
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;

    padding-left: 150px;

    max-height: 35px;

}

.input {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 20px;
    background: #FFF;
}

.enter__link {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    color: var(--secondary-biege, #FCE09B);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}










.main {
    background: url(images/bg.png);
    background-color: #186F65;
    background-size: cover;
    background-blend-mode: multiply;
 
    height: 898px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.main h1 {
    color: var(--secondary-biege, #FCE09B);

    font-family: sans-serif;
    font-size: 72px;
    font-style: italic;  
    font-weight: 900;
    line-height: normal;

    
}

.main h3 {
    color: var(--secondary-green, #B5CB99);

    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.maintitle {
    padding-left: 100px;
    padding-top: 100px;
}

.morebutton {
    display: flex;

    padding: 10px 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 75px;

    color: #FFF;

    font-family: sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: normal;

    border-radius: 40px;
    background: var(--main-red, #B2533E);
}

.vectorimgcontainer {
    position: relative;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 50px;
}

.vectorimgcontainer img {
    flex-shrink: 0;
}









.aboutpage {

    background: var(--main-red, #B2533E);

    padding: 97px 100px 96px 100px;
    align-items: center;
}

.aboutblock {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-shrink: 0;
}

.content {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: -30px;

    width: 1010px;
    height: 483px;
    border-radius: 30px;
    background: url(images/about.png);
    background-repeat: no-repeat;

    box-shadow: -12px -3px 27px 0px rgba(255, 149, 122, 0.10),
    -48px -12px 49px 0px rgba(255, 149, 122, 0.09),
    -108px -26px 67px 0px rgba(255, 149, 122, 0.05),
    -192px -46px 79px 0px rgba(255, 149, 122, 0.01),
    -299px -72px 86px 0px rgba(255, 149, 122, 0.00);

    
}

.content h2 {
    position: relative;
    bottom: 40px;
    color: #FFF;
    font-family: sans-serif;

    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 16.96px;
}

.abouttxt {
    max-width: 550px;
    flex-shrink: 0;
    color: var(--secondary-biege, #FCE09B);
    font-size: 30px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}









.autorsandprojectspage {
    background-color: #186F65;
    background-image: url(images/bg2.png);

    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    
}

.autorsandprojectspage h2 {

    color: #FFF;

    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 16.96px;
}

.autorsblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -25px;
    flex-shrink: 0;
    
    padding-left: 100px;
    padding-top: 100px;
}

.autorsblock h2 {
    position: relative;
    top: 30px;

    color: #FFF;

    font-family: sans-serif;
    font-size: 64px;
    font-style: italic;
}

.personcardsplusbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(270deg, rgba(181, 203, 153, 0.17) 0%,
    #B5CB99 100.49%);
  
}

.personcards {
    display: flex;
    justify-content: space-between;
    gap: 200px; 

    font-size: 30px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    color: var(--secondary-biege, #FCE09B);

    padding: 68px 114px 114px 114px;
}

.personcards h3 {
    color: var(--secondary-biege, #FCE09B);

    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personcards p {
    margin: 0px;
}

.personcardsl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.personcardsr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.personcard {
    display: flex;
    align-items:flex-start;
    gap: 30px;
}


.personimg {
    width: 200px;
    height: 200px;

    border-radius: 200px;

    box-shadow: 4px 3px 12px 0px rgba(21, 81, 74, 0.15), 
    17px 13px 21px 0px rgba(21, 81, 74, 0.13), 
    39px 28px 29px 0px rgba(21, 81, 74, 0.08), 
    70px 50px 34px 0px rgba(21, 81, 74, 0.02), 
    109px 78px 37px 0px rgba(21, 81, 74, 0.00);
}

.personinfo {
    gap: 3px;
}












.projects h1 {
    color: var(--secondary-biege, #FCE09B);

    font-family: sans-serif;

    font-size: 72px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;

    padding-top: 100px;
    padding-bottom: 100px;

    text-align: center;
}

.projectsblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding-bottom: 120px;
}

.projectcard {
    display: flex;
    
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
 
.projectcard h3 {
    color: #FFF;

    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.projectinfofirst,
.projectinfosecond,
.projectinfothird,
.projectinfofourth {
    width: 1012px;
    height: 243px;


    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectinfofirst { background: url(images/project1.png ); }
.projectinfosecond { background: url(images/project2.png ); }
.projectinfothird { background: url(images/project3.png ); }
.projectinfofourth { background: url(images/project4.png ); }

.aboutbutton {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 40px;
    border: 4px solid var(--main-red, #B2533E);
    
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}









.footer {
    background: #e2c98b;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.footerlinelogo {
    display: inline-flex;
    align-items: center;
    gap: 25px;

    padding: 100px 150px 100px 100px;
}

.footerline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.footerfunc {
    display: inline-flex;
    justify-content: space-between;
    gap: 35px;
    padding-left: 50px;
}


.ftlinet {
    color: var(--main-green, #186F65);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    white-space: nowrap;
}
.ftlineb {
    color: var(--main-green, #186F65);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    white-space: nowrap;
}

.footermainmenu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    list-style-type: none;

    white-space: nowrap;
}


.footersecondarymenu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    list-style-type: none;

    white-space: nowrap;

}

.mainlist,
.seclist {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    color: var(--main-green, #186F65);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;

    padding-right: 50px;
    
}

.mainlist {
    padding-right: 50px;
}

.copyright {
    display: inline-flex;
    align-items: flex-start;

    padding-top: 23px;

    opacity: 0.75;
}

.copyright span{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copyright img {
    width: 20px;
    height: 20px;
}


.pageupcontainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-right: 100px;
}

.footermainmenu {
    padding-right: 180px;
}
.footersecondarymenu {
    padding-right: 75px;
}












.sponsorspage {
    background: var(--main-red, #B2533E);
}

.sponsorblocks {
    display: flex;
    justify-content: space-between;
}

.firstsponsorblock {
    display: inline-flex;
    flex-direction: column;

    flex-shrink: 0;

    align-items: flex-start;
    
    gap: 25px;

    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.secondsponsorblock {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;

    flex-shrink: 0;
    
    gap: 25px;

    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.sponsorspage img {
    border-radius: 30px;

    width: 362px;
    height: 248px;
}

















@media (max-width:1800px) {
    .footermainmenu {
        padding-right: 50px;
    }
    .footersecondarymenu {
        padding-right: 25px;
    }
}


@media (max-width:1600px) {
    .vectorimgcontainer {
        display: none;
    }
    .maintitle {
        padding-left: 0;

    }
    .main {
        justify-content: center;
        text-align: center;
    }
    .morebutton {
        margin-left: 30%;
    }

    
    .content {
        background: none;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: auto;
        height: auto;
        border-radius: 0px;

        box-shadow: none;

        white-space: nowrap;
    }
    
    .aboutblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        flex-shrink: 0;
    }
    .abouttxt {
        max-width: 1050px;
        flex-shrink: 0;
        color: var(--secondary-biege, #FCE09B);
        font-size: 30px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;
    }

    .footer {
        flex-direction: column;
    }
    .footerlinelogo {
        align-self: center;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-right: 100px;
    }
    .footerfunc {
        padding: 0px;
        justify-content: space-around;
    }

}



@media (max-width:1400px) {
    .navbar__item {
        font-size: 16px;
    }
    .input {
        padding: 6px 20px;
    }
    .enter__link {
        font-size: 16px;
    }
}

@media (max-width: 1250px) {
    .mainmenu {
        height: 122px;
    }

    .searchpersonalarea {
        padding-left: 50px;
        align-self: center;
    }

    .navbar__item {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .input {
        padding: 6px 20px;
    }
    .enter__link {
        font-size: 20px;
    }
    .navbarli {
        display: block;
    }
    .personcards {
        display: inline;
    }
    .personcardsl {
        padding-bottom: 50px;
    }

    .footerfunc {
        padding-left: 120px;
        padding-right: 0px;
    }
    .footersecondarymenu {
        padding-left: 50px;
    }
    
}

@media (max-width: 1100px) {
    .projectinfofirst,
    .projectinfosecond,
    .projectinfothird,
    .projectinfofourth {
        width: 720px;
    }
    
    .footerfunc {
        flex-direction: column;
        padding-left: 10px;
        align-self: center;
    }
    
    .pageupcontainer {
        padding: 0px;
    }

    .footer {
    padding-bottom: 50px;

    }
}

@media (max-width: 880px) {
    .mainmenu {
        height: auto;
        padding-top: 10px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbarlit {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbarlib {
        padding-left: 0px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .searchpersonalarea {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navbar__item {
        font-size: 20px;
        text-align: center;
        width: 100vh;
    }
    .navbar__link {
        display: block;
        width: 100vh;
    }
    .input {
        padding: 15px 20px;
    }
    .enter__link {
        font-size: 20px;
    }
    .morebutton {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    .content h2 {
        position: relative;
        top: 0px;

        font-size: 40px;
        font-style: italic;
        font-weight: 400;

        letter-spacing: 12.96px;
    }
    .aboutpage {
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 35px;
        padding-right: 35px;
    }
    
    
}

@media (max-width: 800px) {
    .personcard {
        display: flex;
        flex-direction: column;
    }
    .projectinfofirst,
    .projectinfosecond,
    .projectinfothird,
    .projectinfofourth {
        width: 600px;
    }

    .footermenus {
        display: flex;
        flex-direction: column;
    }
    .footerfunc {
        padding-left: 0px;
    }
    .footermainmenu,
    .footersecondarymenu {
        padding: 0px;
    }

    .footermainmenu {
        padding-left: 45px;
    }

    .mainlist, .seclist {
        align-items: center;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .footerlinelogo {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width:  680px) {
    .projectinfofirst,
    .projectinfosecond,
    .projectinfothird,
    .projectinfofourth {
        width: 500px;
    }
    .projectcard h3 {
        text-align: center;
    }
}

@media (max-width:  550px) {   
    .hdlinet {
        color: var(--secondary-green, #B5CB99);
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .hdlineb {
        color: var(--secondary-green, #B5CB99);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .headlinelogo img {
        display: none;
    }
    .maintitle h1 {
        font-size: 36px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .maintitle h3 {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .morebutton {
        font-size: 36px;
    }
    .searchpersonalarea {
        gap: 20px;
    }

    .abouttxt {
        font-size: 16px;
    }

    .autorsblock {
        padding-left: 25px;
    }
    .projectinfofirst,
    .projectinfosecond,
    .projectinfothird,
    .projectinfofourth {
        background: none;
        width: auto;
        height: auto;
    }
    .projectcard {
        gap: 25px;
    }

    .footerlinelogo img {
        display: none;
    }
}

@media (max-width:  400px)  {
    
    .searchpersonalarea {
        padding-left: 0;
    }
    .content h2 {
        font-size: 36px;
        font-style: italic;
    }
    .autorsblock {
        padding-left: 20px;
    }
    .autorsblock h2 {
        font-size: 36px;
    }
    .personcards h3 {
        font-size: 32px;
    }
    .personcards p {
        font-size: 20px;
    }
    .personimg {
        width: 150px;
        height: 150px;
    }

    .projects h1 {
        font-size: 36px;
    }

    .projectcard h3 {
        font-size: 24px;
    }

    .aboutbutton {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
