html {
    scroll-behavior: smooth;
}

body {
    color: #FCE09B;
    margin: 0 auto;
    padding: 0;
    font: 400 36px/normal 'Open Sans', 'sans-serif' ;
    max-width: 1920px;
    min-width: 360px;
    gap: 0;
}

img, svg {
    vertical-align: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size:72px;
}

h2 {
    font-size:40px;
}

h3 {
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}














.dockspage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background: var(--main-green, #186F65);
    max-width: 1920px;
}

.headerlogoheadline {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    white-space: nowrap;
}
.headlinelogo {
    display: flex;
    align-items: center;
    gap: 25px;
}
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hdlinet {
    color: var(--secondary-green, #B5CB99);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hdlineb {
    color: var(--secondary-green, #B5CB99);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.mainmenu {
    background: var(--main-red, #B2533E);

    height: 61px;

    display: flex;
    padding: 0 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

}
.navbar {
    display: flex;
    justify-content:  center;
    gap: 15px;
}

.navbarli {
    display: flex;

}
.navbarlit {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
.navbarlib {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    padding-left: 50px;
}


.navbar__item {
    color: var(--secondary-biege, #FCE09B);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    list-style-type: none;
}

.navbar__link {
    text-decoration: none;
}

.searchpersonalarea {
    display: flex;
    gap: 15px;

    padding-left: 150px;

    max-height: 35px;
}

.container {
    max-height: 35px;
    padding: 0;
}

.search-box {
    input[type="text"] {
        height: 35px;
        transition: all .25s ease-in .25s, width .25s ease-in, background-color .25s ease-in;
        font-size: .75rem;
        line-height:25px;
        border: none;
        background-position-y: 5px;
        background-image: url(../images/search.svg);
        background-color: #B2533E;

        background-repeat: no-repeat;
        z-index: 1;
        width: 35px;

        &:hover {
            cursor: pointer;
            &:focus {
                cursor: text;
            }
            + span {
                background: rgba(255,255,255,0.2);
            }
        }
        &:focus {
            transition: all .25s ease-in .25s;
            width: 200px;
            padding: 0 10px;
            outline: none;
            background:white;
            color: black;

        }
    }
}


.account-desc {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.account-pic {
}

.account-name {
    display: flex;

    color: var(--secondary-biege, #FCE09B);

    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin: auto;
}

.input {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    font-size: 20px;
    border-radius: 20px;
    background: #FFF;
}

.enter__link {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    color: var(--secondary-biege, #FCE09B);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}






.main {
    background: #186F65 url(/static/images/bg.png);
    background-size: cover;
    background-blend-mode: multiply;

    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.maintitle {
    padding-left: 100px;
    padding-top: 100px;
}

.maincontent {
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto auto 50px;
}

.maincontent h2 {
    position: relative;
    text-align: end;
    margin-right: 70px;
    top: 25px;

    color: #FFF;

    font-family: sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;


    line-height: normal;
    letter-spacing: 17px;
}

.docs {
    display: flex;
    flex-direction: column;
    max-width: 1530px;


    flex-shrink: 0;

    border-radius: 20px;
    background: var(--secondary-biege, #e2c98b);

}

.docsfiles {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;

    padding-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
}

.docsfilesl,
.docsfilesr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 43px;
}

.doc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.doc a {
    color: var(--main-green, #186F65);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.doc svg {
    min-width: 50px;
    min-height: 50px;
}


.pagesblock {
    display: inline-flex;
    align-items: flex-start;
    justify-content: end;
    gap: 10px;
    padding-right: 65px;
}

.pagearea {
    position: relative;
    top: 15px;

    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.pagearea svg {
    width: 36px;
    height: 36px;
}

.svgcontainer {
    position: relative;
    display: inline-block;
}

.svg-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}






@media (max-width:1600px) {
    .navbar {
        flex-direction: column;
    }

    .searchpersonalarea {
        margin: 0 auto;
        padding: 0;
    }

    .mainmenu {
        height: 122px;
    }



}

@media (max-width:1250px) {
    .input {
        padding: 6px 20px;
    }

    .enter__link {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .navbar {
        gap: 10px;
    }

    .navbarli {
        flex-direction: column;
    }

    .navbarlit {
        flex-direction: column;
        gap: 10px;
    }
    .navbarlib {
        flex-direction: column;
        padding-left: 0;
        padding-top: 10px;
        gap: 10px
    }
    .mainmenu {
        height: auto;
    }
    .navbar__item {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 880px) {
    .navbar__link {
        display: block;
    }
    .input {
        padding: 15px 20px;
    }
    .enter__link {
        font-size: 20px;
    }

    .docsfiles {
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .maincontent {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:  550px) {
    .hdlinet {
        color: var(--secondary-green, #B5CB99);
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .hdlineb {
        color: var(--secondary-green, #B5CB99);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .headlinelogo {
        flex-direction: column;
        gap: 10px;
    }
    .maintitle h1 {
        font-size: 36px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .maintitle h3 {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .morebutton {
        font-size: 36px;
    }
    .searchpersonalarea {
        gap: 20px;
        padding-left: 0;
    }

    .abouttxt {
        font-size: 26px;
    }

    .autorsblock {
        padding-left: 25px;
    }
    .projectinfofirst,
    .projectinfosecond,
    .projectinfothird,
    .projectinfofourth {
        background: none;
        width: auto;
        height: auto;
    }
    .projectcard {
        gap: 25px;
    }

    .headlinet, .headlineb {
        font-size: 64px;
        color: #FFF;
    }

    .footerlinelogo img {
        display: none;
    }

    .input {
        max-width: 200px;
    }

}

@media (max-width:  400px)  {
    .content h2 {
        font-size: 36px;
        font-style: italic;
    }
    .autorsblock {
        padding-left: 20px;
    }
    .autorsblock h2 {
        font-size: 36px;
    }
    .personcards h3 {
        font-size: 32px;
    }
    .personcards p {
        font-size: 20px;
    }
    .personimg {
        width: 150px;
        height: 150px;
    }

    .projects h1 {
        font-size: 36px;
    }

    .projectcard h3 {
        font-size: 24px;
    }

    .aboutbutton {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}