html {
    scroll-behavior: smooth;
}

body {
    color: #FCE09B;
    margin: auto;
    font: 400 36px/normal 'Open Sans', 'sans-serif';
    max-width: 622px;
    min-width: 360px;
    gap: 0;
}

.alert-info,
.alert-danger {
    max-width: 100vw;
    font-size: 24px;
    margin: auto 10px;
}

.registrationwindow {
    top: calc(50% - 313px);

    padding: 45px 68px;
    gap: 25px;
    margin: 10px;

    border-radius: 15px;
    background: var(--main-red, #B2533E);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.headlinetitle {
    color: var(--secondary-biege, #FCE09B);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.headlinesubtitle {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.interactarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    flex: 1 0 0;
    align-self: stretch;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.interactarea a {
    color: var(--secondary-biege, #FCE09B);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    align-self: center;
}

.controllabel {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 20px;
    background: #FFF;

    color: #A8A8A8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}


.checkbox span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 11px 84px;
    cursor: pointer;
}

.button-wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    padding-left: 75px;
    padding-right: 75px;
}

.button-wrapper button {
    background: var(--secondary-green, #B5CB99);
    border-radius: 250px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.button-wrapper button:hover {
    color: #000;
}

.formgroup {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 20px;
    background: #FFF;

    color: #A8A8A8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loginhref {
    display: flex;
    align-self: center;
}



@media (max-width: 540px) {
    .registrationwindow {
        padding: 34px 51px;
    }
}

@media (max-width: 430px) {
    .registrationwindow {
        padding: 34px 45px;
    }
}