<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/accountstyle.css">
</head>
<body>
<div th:if="${param.fileTooLarge}">
    <div class="alert alert-danger">Размер загружаемого файла слишком большой!</div>
</div>
<div class="accountpage">
    <div class="headerlogoheadline">
        <a class="headlinelogo" th:href="@{/}">
            <img src="../static/images/logo.png" alt="">
            <div class="headline">
                <span class = hdlinet>Публичный архив</span>
                <span class = hdlineb>ГБОУ Гимназия №41 им. Эриха Кестнера</span>
            </div>
        </a>
        <div class="mainmenu">
            <nav class="navbar">
                <div class="navbarli">
                    <div class="navbarlit">
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/docks}">Архив</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#autorspage}">Наши Авторы</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#partnerspage}">Наши Партнеры</a>
                        </li>
                    </div>
                    <div class="navbarlib">
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#projects}">Работы и проекты</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#aboutpage}">О проекте</a>
                        </li>
                    </div>
                </div>
                <div class="searchpersonalarea">
                    <a class="enter__link" sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
                    <a class="account-desc" sec:authorize="isAuthenticated()" th:href="@{/account}">
                        <div class="account-pic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 17 45" fill="none">
                                <path d="M17.5 5.83334C19.0471 5.83334 20.5308 6.44792 21.6248 7.54188C22.7187 8.63584 23.3333 10.1196 23.3333 11.6667C23.3333 13.2138 22.7187 14.6975 21.6248 15.7915C20.5308 16.8854 19.0471 17.5 17.5 17.5C15.9529 17.5 14.4692 16.8854 13.3752 15.7915C12.2812 14.6975 11.6666 13.2138 11.6666 11.6667C11.6666 10.1196 12.2812 8.63584 13.3752 7.54188C14.4692 6.44792 15.9529 5.83334 17.5 5.83334ZM17.5 20.4167C23.9458 20.4167 29.1666 23.0271 29.1666 26.25V29.1667H5.83331V26.25C5.83331 23.0271 11.0541 20.4167 17.5 20.4167Z" fill="#FCE09B"/>
                            </svg>
                        </div>
                        <div class ="account-name">
                            <span th:text="${first_name}"></span>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="main">
        <div class="maincontent">
            <h2>Личный кабинет</h2>
            <div class="accountcard">
                <div class="profilehead">
                    <div class="profiledesc">
                        <div class="profileheadimg">
                            <img class ="profileheadimg" src="../static/images/profilepictures/default.png" alt="" id = "profile-pic">
                        </div>
                        <h1>
                            <span th:text="${first_name}"></span>
                            <span th:text="${last_name}"></span>
                        </h1>
                    </div>
                </div>
                <div class="cardingocontainer">
                    <div class="cardingo">
                        <div class="cardingonames">
                            <div class="firstname">
                                <p class="name">Имя:</p>
                                <p class="corname"><span th:text="${first_name}"></span></p>
                            </div>
                            <div class="lastname">
                                <p class="name">Фамилия:</p>
                                <p class="corname"><span th:text="${last_name}"></span></p>
                            </div>
                        </div>
                        <div class="cardingosecondaryinfo">
                            <div th:if="${email}!=null" class="mail">
                                <p class="name">Почта:</p>
                                <p class="corname"><span th:text="${email}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>