<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/docksstyle.css">
</head>
<body>
<div th:if="${param.fileAlreadyExists}">
    <div class="alert alert-danger">Документ уже существует!</div>
</div>

<div class="dockspage">
    <div class="headerlogoheadline">
        <a class="headlinelogo" th:href="@{/}">
            <img src="../static/images/logo.png" alt="">
            <div class="headline">
                <span class = hdlinet>Публичный архив</span>
                <span class = hdlineb>ГБОУ Гимназия №41 им. Эриха Кестнера</span>
            </div>
        </a>
        <div class="mainmenu">
            <nav class="navbar">
                <div class="navbarli">
                    <div class="navbarlit">
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/docks}">Архив</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#autorspage}">Наши Авторы</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#partnerspage}">Наши Партнеры</a>
                        </li>
                    </div>
                    <div class="navbarlib">
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#projects}">Работы и проекты</a>
                        </li>
                        <li class="navbar__item">
                            <a class="navbar__link" th:href="@{/#aboutpage}">О проекте</a>
                        </li>
                    </div>
                </div>
                <div class="searchpersonalarea">
                    <!--
                    <div class="container">
                        <div class="search-box">
                            <input class="input" type="text" />
                        </div>
                    </div>
                    -->
                    <a class="enter__link" sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
                    <a class="account-desc" sec:authorize="isAuthenticated()" th:href="@{/account}">
                        <div class="account-pic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 17 45" fill="none">
                                <path d="M17.5 5.83334C19.0471 5.83334 20.5308 6.44792 21.6248 7.54188C22.7187 8.63584 23.3333 10.1196 23.3333 11.6667C23.3333 13.2138 22.7187 14.6975 21.6248 15.7915C20.5308 16.8854 19.0471 17.5 17.5 17.5C15.9529 17.5 14.4692 16.8854 13.3752 15.7915C12.2812 14.6975 11.6666 13.2138 11.6666 11.6667C11.6666 10.1196 12.2812 8.63584 13.3752 7.54188C14.4692 6.44792 15.9529 5.83334 17.5 5.83334ZM17.5 20.4167C23.9458 20.4167 29.1666 23.0271 29.1666 26.25V29.1667H5.83331V26.25C5.83331 23.0271 11.0541 20.4167 17.5 20.4167Z" fill="#FCE09B"/>
                            </svg>
                        </div>
                        <div class ="account-name">
                            <span th:text="${first_name}"></span>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="main">

        <div class="maincontent">
            <h2>Архив</h2>
            <div class="docs">
                <div class="docsfiles">
                    <div class="docsfilesl">
                        <ul >
                            <li class="doc" th:each="document, iter : ${documents.content}" th:if="${iter.index % 2 == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 50 50" fill="none">
                                    <path d="M18.75 27.0833H31.25M18.75 35.4167H25M8.33337 8.33334V41.6667C8.33337 42.7717 8.77236 43.8315 9.55376 44.6129C10.3352 45.3943 11.395 45.8333 12.5 45.8333H37.5C38.6051 45.8333 39.6649 45.3943 40.4463 44.6129C41.2277 43.8315 41.6667 42.7717 41.6667 41.6667V17.3792C41.6666 16.8241 41.5557 16.2746 41.3403 15.763C41.1249 15.2514 40.8095 14.788 40.4125 14.4L31.1625 5.35417C30.3841 4.59304 29.3387 4.16681 28.25 4.16667H12.5C11.395 4.16667 10.3352 4.60566 9.55376 5.38706C8.77236 6.16846 8.33337 7.22827 8.33337 8.33334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M29.1667 4.16667V12.5C29.1667 13.6051 29.6057 14.6649 30.3871 15.4463C31.1685 16.2277 32.2283 16.6667 33.3334 16.6667H41.6667" stroke="black" stroke-width="2" stroke-linejoin="round"/>
                                </svg>
                                <a th:href="@{/downloadDocument(fileName=${document.getName()})}" th:text="${document.getName()}"></a>
                                <form th:action="@{/deleteDocument(fileName=${document.getName()})}" method="post" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                    <button type="submit"><svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 viewBox="0 0 330 330" xml:space="preserve">
<g id="XMLID_6_">
	<g id="XMLID_11_">
		<path d="M240,121.076H30V275c0,8.284,6.716,15,15,15h60h37.596c19.246,24.348,49.031,40,82.404,40c57.897,0,105-47.103,105-105
			C330,172.195,290.816,128.377,240,121.076z M225,300c-41.355,0-75-33.645-75-75s33.645-75,75-75s75,33.645,75,75
			S266.355,300,225,300z"/>
	</g>
    <g id="XMLID_18_">
		<path d="M240,90h15c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30h-15V15c0-8.284-6.716-15-15-15H75c-8.284,0-15,6.716-15,15v45H45
			H15C6.716,60,0,66.716,0,75s6.716,15,15,15h15H240z M90,30h90v30h-15h-60H90V30z"/>
	</g>
    <g id="XMLID_23_">
		<path d="M256.819,193.181c-5.857-5.858-15.355-5.858-21.213,0L225,203.787l-10.606-10.606c-5.857-5.858-15.355-5.858-21.213,0
			c-5.858,5.858-5.858,15.355,0,21.213L203.787,225l-10.606,10.606c-5.858,5.858-5.858,15.355,0,21.213
			c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.465,10.607-4.394L225,246.213l10.606,10.606
			c2.929,2.929,6.768,4.394,10.607,4.394c3.839,0,7.678-1.465,10.606-4.394c5.858-5.858,5.858-15.355,0-21.213L246.213,225
			l10.606-10.606C262.678,208.535,262.678,199.039,256.819,193.181z"/>
	</g>
</g>
</svg></button>
                                </form>
                            </li>

                        </ul>
                    </div>


                    <div class="docsfilesr">
                        <ul>
                            <li class="doc" th:each="document, iter : ${documents.content}" th:unless="${iter.index % 2 == 0}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 50 50" fill="none">
                                    <path d="M18.75 27.0833H31.25M18.75 35.4167H25M8.33337 8.33334V41.6667C8.33337 42.7717 8.77236 43.8315 9.55376 44.6129C10.3352 45.3943 11.395 45.8333 12.5 45.8333H37.5C38.6051 45.8333 39.6649 45.3943 40.4463 44.6129C41.2277 43.8315 41.6667 42.7717 41.6667 41.6667V17.3792C41.6666 16.8241 41.5557 16.2746 41.3403 15.763C41.1249 15.2514 40.8095 14.788 40.4125 14.4L31.1625 5.35417C30.3841 4.59304 29.3387 4.16681 28.25 4.16667H12.5C11.395 4.16667 10.3352 4.60566 9.55376 5.38706C8.77236 6.16846 8.33337 7.22827 8.33337 8.33334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M29.1667 4.16667V12.5C29.1667 13.6051 29.6057 14.6649 30.3871 15.4463C31.1685 16.2277 32.2283 16.6667 33.3334 16.6667H41.6667" stroke="black" stroke-width="2" stroke-linejoin="round"/>
                                </svg>
                                <a th:href="@{/downloadDocument(fileName=${document.getName()})}" th:text="${document.getName()}"></a>
                                <form th:action="@{/deleteDocument(fileName=${document.getName()})}" method="post" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                    <button type="submit"><svg fill="#000000" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 viewBox="0 0 330 330" xml:space="preserve">
    <g id="XMLID_6_">
	<g id="XMLID_11_">
		<path d="M240,121.076H30V275c0,8.284,6.716,15,15,15h60h37.596c19.246,24.348,49.031,40,82.404,40c57.897,0,105-47.103,105-105
			C330,172.195,290.816,128.377,240,121.076z M225,300c-41.355,0-75-33.645-75-75s33.645-75,75-75s75,33.645,75,75
			S266.355,300,225,300z"/>
	</g>
    <g id="XMLID_18_">
		<path d="M240,90h15c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30h-15V15c0-8.284-6.716-15-15-15H75c-8.284,0-15,6.716-15,15v45H45
			H15C6.716,60,0,66.716,0,75s6.716,15,15,15h15H240z M90,30h90v30h-15h-60H90V30z"/>
	</g>
        <g id="XMLID_23_">
            <path d="M256.819,193.181c-5.857-5.858-15.355-5.858-21.213,0L225,203.787l-10.606-10.606c-5.857-5.858-15.355-5.858-21.213,0
                c-5.858,5.858-5.858,15.355,0,21.213L203.787,225l-10.606,10.606c-5.858,5.858-5.858,15.355,0,21.213
                c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.465,10.607-4.394L225,246.213l10.606,10.606
                c2.929,2.929,6.768,4.394,10.607,4.394c3.839,0,7.678-1.465,10.606-4.394c5.858-5.858,5.858-15.355,0-21.213L246.213,225
                l10.606-10.606C262.678,208.535,262.678,199.039,256.819,193.181z"/>
        </g>
</g>
</svg></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footerdocs">
                    <form method="POST" th:action="@{/uploadDocument}" th:object= "${documents}" enctype="multipart/form-data" >
                        <input id = "upload-file-button" type="file" name="file" style="display:none" onchange="this.form.submit()">
                        <label th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" for="upload-file-button" class = "upload-file-button"><span>Загрузить</span></label >
                    </form>
                    <div class="pagesblock">
                        <div class="pagearea" th:if="${!(documents.getNumber() == 0)}">
                            <a th:href="@{/docks(page=0)}">
                                <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                                </svg>
                                <div class="svg-text">
                                    <span th:text="1"></span>
                                </div>
                            </a>
                        </div>
                        <div class="pagearea" th:if="${!(documents.getNumber() <= 2)}">
                            <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                            </svg>
                            <div class="svg-text">...</div>
                        </div>
                        <div class="pagearea">
                            <a th:href="@{/docks(page=${documents.getNumber()-1})}" th:if="${!(documents.getNumber()+1 <= 2)}">
                                <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                                </svg>
                                <div class="svg-text">
                                    <span th:text="${documents.getNumber()}"></span>
                                </div>
                            </a>
                        </div>

                        <div class="pagearea">
                            <a th:href="@{/docks(page=${documents.getNumber()})}">
                                <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <circle cx="18" cy="18" r="18" fill="#652E22"/>
                                </svg>
                                <div class="svg-text">
                                    <span th:text="${documents.getNumber()+1}"></span>
                                </div>
                            </a>
                        </div>
                        <div class="pagearea">
                            <a th:href="@{/docks(page=${documents.getNumber()+1})}" th:if="${!(documents.getNumber()+2 >= documents.getTotalPages())}">
                                <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                                </svg>
                                <div class="svg-text">
                                    <span th:text="${documents.getNumber()+2}"></span>
                                </div>
                            </a>
                        </div>
                        <div class="pagearea" th:if="${!(documents.getNumber()+4 >= documents.getTotalPages()+1)}">
                            <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                            </svg>
                            <div class="svg-text">...</div>
                        </div>
                        <div class="pagearea">
                            <a th:href="@{/docks(page=${documents.getTotalPages()-1})}" th:if="${!(documents.getNumber()+1 >= documents.getTotalPages())}">
                                <svg class = "svg-container" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                                    <circle cx="18" cy="18" r="18" fill="#BF7160"/>
                                </svg>
                                <div class="svg-text">
                                    <span th:text="${documents.getTotalPages()}"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>