<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <form action="/starting_page">
        <div class="startingpage" id="startingpage">
            <div class="headerlogoheadline">
                <div class="headlinelogo">
                    <img src="../static/images/logo.png" alt="">
                    <div class="headline">
                        <span class = hdlinet>Публичный архив</span>
                        <span class = hdlineb>ГБОУ Гимназия №41 им. Эриха Кестнера</span>
                    </div>
                </div>
                <div class="mainmenu">
                    <nav class="navbar">
                        <div class="navbarli">
                            <div class="navbarlit">
                                <li class="navbar__item">
                                    <a class="navbar__link" href="/docks">Архив</a>
                                </li>
                                <li class="navbar__item">
                                    <a class="navbar__link" href="#autorspage">Наши Авторы</a>
                                </li>
                                <li class="navbar__item">
                                    <a class="navbar__link" href="#partnerspage">Наши Партнеры</a>
                                </li>
                            </div>
                            <div class="navbarlib">
                                <li class="navbar__item">
                                    <a class="navbar__link" href="#projects">Работы и проекты</a>
                                </li>
                                <li class="navbar__item">
                                    <a class="navbar__link" href="#aboutpage">О проекте</a>
                                </li>
                            </div>
                        </div>
                        <div class="searchpersonalarea">
                            <input class="input" type="text" id="name" name="name"/>
                            <a class="enter__link" href="/register">Войти</a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="main">
                <div class="maintitle">
                    <h1>Первый школьный <br>публичный архив</h1> <br>
                    <h3>Сайт-архив Гимназии №41 им. Эриха Кестнера</h3>
                    <a href="#aboutpage" class="morebutton">
                        <h6>Подробнее</h6>
                    </a>
                </div>

                <div class="vectorimgcontainer">
                    <img src="/static/images/mainvectorimg.png" alt="#">
                </div>
            </div>
        </div>
        <div class="aboutpage" id="aboutpage">
            <div class="aboutblock">
                <div class="content">
                    <h2>О проекте</h2>
                </div>
                <div class="abouttxt">
                    В частности, сплочённость команды профессионалов предполагает
                    независимые способы реализации существующих финансовых и
                    административных условий.
                    Как уже неоднократно упомянуто, стремящиеся вытеснить
                    традиционное производство, нанотехнологии рассмотрены
                    исключительно в разрезе маркетинговых и финансовых предпосылок.
                </div>
            </div>
        </div>
        <div class="autorsandprojectspage">
            <div class="autorsblock" >
                <h2 id="autorspage">Наши авторы</h2>
                <div class="personcardsplusbg">
                    <div class="personcards">
                        <div class="personcardsl">
                            <li class = personcard>
                                <img class = personimg src="/static/images/author1.png" alt="">
                                <div class="personinfo">
                                    <h3>Болдырев Иван</h3>
                                    <p>Кандидат исторических наук</p>
                                </div>
                            </li>
                            <li class = personcard>
                                <img class = personimg src="/static/images/author2.png" alt="">
                                <div class="personinfo">
                                    <h3>Магамедов Алибек</h3>
                                    <p>Архивариус</p>
                                </div>
                            </li>
                            <li class = personcard>
                                <img class = personimg src="/static/images/author3.png" alt="">
                                <div class="personinfo">
                                    <h3>Мамаева Сабина</h3>
                                    <p>Ученица 9в класса</p>
                                </div>
                            </li>
                        </div>
                        <div class="personcardsr">
                            <li class = personcard>
                                <img class = personimg src="/static/images/author4.png" alt="">
                                <div class="personinfo">
                                    <h3>Улибоев Мухамеджон</h3>
                                    <p>Востоковед</p>
                                </div>
                            </li>
                            <li class = personcard>
                                <img class = personimg src="/static/images/author5.png" alt="">
                                <div class="personinfo">
                                    <h3>Маломеджекова Фатима</h3>
                                    <p>Учитель географии, доцент</p>
                                </div>
                            </li>
                            <li class = personcard>
                                <img class = personimg src="/static/images/author6.png" alt="">
                                <div class="personinfo">
                                    <h3>Круглова Татьяна</h3>
                                    <p>Учитель истории и обществознания, профессор</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects" id="projects">
                <h1>Работы и проекты</h1>
                <div class="projectsblock">
                    <li class="projectcard">
                        <h3>Генеалогическое древо Куракиных</h3>
                        <div class="projectinfofirst">
                            <button class = aboutbutton>Подробнее</button>
                        </div>
                    </li>
                    <li class="projectcard">
                        <h3>Письма Вениамина Гроссмана</h3>
                        <div class="projectinfosecond">
                            <button class = aboutbutton>Подробнее</button>
                        </div>
                    </li>
                    <li class="projectcard">
                        <h3>Архетиктура памятников XIX в</h3>
                        <div class="projectinfothird">
                            <button class = aboutbutton>Подробнее</button>
                        </div>
                    </li>
                    <li class="projectcard">
                        <h3>Чикаго в 20-30гг XX в</h3>
                        <div class="projectinfofourth">
                            <button class = aboutbutton>Подробнее</button>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="partnerspage" id="partnerspage">
            <div class="partnerblockl">
                <div class="partnerfirst">

                </div>
                <div class="partnersecond">

                </div>
                <div class="partnerthird">

                </div>
            </div>
            <div class="trashblock">
                <svg class = trashblockarrowtop xmlns="http://www.w3.org/2000/svg" width="823" height="348" viewBox="0 0 823 348" fill="none">
                    <path d="M823.001 173.152L522.402 0.987642L523.602 347.396L823.001 173.152ZM1.10393 206L553.106 204.088L552.898 144.088L0.896075 146L1.10393 206Z" fill="url(#paint0_linear_31_28)"/>
                    <defs>
                      <linearGradient id="paint0_linear_31_28" x1="838.241" y1="172.993" x2="50.4763" y2="182.08" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#186F65"/>
                        <stop offset="1" stop-color="#05D8C0" stop-opacity="0"/>
                      </linearGradient>
                    </defs>
                  </svg>
                <div class="headline">
                    <span class = "headlinet">Наши</span>
                    <span class = "headlineb">Партнеры</span>
                </div>
                <svg class = trashblockarrowbottom xmlns="http://www.w3.org/2000/svg" width="806" height="347" viewBox="0 0 806 347" fill="none">
                    <path d="M-2.65238e-05 175.94L298.496 0.154913L301.482 346.552L-2.65238e-05 175.94ZM805.259 198.999L270.249 203.611L269.731 143.613L804.742 139.001L805.259 198.999Z" fill="url(#paint0_linear_31_30)"/>
                    <defs>
                      <linearGradient id="paint0_linear_31_30" x1="305" y1="171.995" x2="757.5" y2="160.997" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B5CB99"/>
                        <stop offset="1" stop-color="#B5CB99" stop-opacity="0"/>
                      </linearGradient>
                    </defs>
                  </svg>
            </div>
            <div class="partnerblockr">
                <div class="partnerfourth">

                </div>
                <div class="partnerfifth">

                </div>
                <div class="partnersixth">

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerlinelogo">
                <img src="/static/images/logo.png" alt="">
                <div class="footerline">
                    <span class = ftlinet>Публичный архив</span>
                    <span class = ftlineb>ГБОУ Гимназия №41 им. Эриха Кестнера</span>
                </div>
            </div>
            <div class="footerfunc">
                <div class="footermenus">
                    <div class="footermainmenu">
                        <div class="mainlist">
                            <li class="footerli__item">
                                <a class="footerli__link" href="/docks">Архив</a>
                            </li>
                            <li class="footerli__item">
                                <a class="footerli__link" href="#autorspage">Наши Авторы</a>
                            </li>
                            <li class="footerli__item">
                                <a class="footerli__link" href="#partnerspage">Наши партнеры</a>
                            </li>
                            <li class="footerli__item">
                                <a class="footerli__link" href="#projects">Работы и проекты</a>
                            </li>
                            <li class="footerli__item">
                                <a class="footerli__link" href="#aboutpage">О проекте</a>
                            </li>
                        </div>
                    </div>
                        <div class="footersecondarymenu">
                            <div class="seclist">
                                <li class="footerli__item">
                                    <a class="footerli__link" href="#startingpage">Главная</a>
                                </li>
                                <li class="footerli__item">
                                    <a class="footerli__link" href="https://gymnasium41.spb.ru">Официальный сайт школы</a>
                                </li>
                                <li class="footerli__item">
                                    <a class="footerli__link" href="">Наша почта</a>
                                </li>
                                <li class="footerli__item">
                                    <a class="footerli__link" href="">Публичная оферта</a>
                                </li>
                            </div>
                    </div>
                </div>
                <div class="pageupcontainer">
                    <div class="pageup">
                        <a class = pageuplink href="#" id="pageup">
                            <img class = pageupimg src="/static/images/pageup.png" alt="">
                        </a>
                    </div>
                    <div class="copyright">
                        <span>schoolpublicarchive</span>
                        <img src="../static/images/copyright.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>