<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/registrationstyle.css">
</head>
<body>
    <form method="post" role="form" th:action="@{/register/save}" th:object = "${user}">
        <p th:errors="*{firstName}" class="alert alert-danger"
           th:if="${#fields.hasErrors('firstName')}">
        </p>
        <p th:errors="*{lastName}" class="alert alert-danger"
           th:if="${#fields.hasErrors('lastName')}">
        </p>
        <p th:errors="*{email}" class="alert alert-danger"
           th:if="${#fields.hasErrors('email')}">
        </p>
        <p th:errors="*{password}" class="alert alert-danger"
           th:if="${#fields.hasErrors('password')}">
        </p>

        <div class="registrationwindow">
            <div class="headline">
                <div class="headlinetitle">Регистрация</div>
                <div class="headlinesubtitle">Введите ваши данные</div>
            </div>
            <div class="interactarea">
                <div class="inputs">
                        <input class="formgroup"
                                id ="firstName" th:field="*{firstName}"
                                type="text"
                                required autofocus="autofocus"
                                placeholder="ваше имя"
                        />

                        <input class="formgroup"
                                id ="lastName" th:field="*{lastName}"
                                type="text"
                                required autofocus="autofocus"
                                placeholder="ваша фамилия"
                        />


                        <input class="formgroup"
                                id ="email" th:field="*{email}"
                                type="email"
                                required autofocus="autofocus"
                                placeholder="почта"
                        />

                        <input class="formgroup"
                                id ="password" th:field="*{password}"
                                type = "password"
                                required autofocus="autofocus"
                                placeholder="пароль"
                        />

                </div>
                <div class="checkbox">
                    <input type="checkbox" id="check1">
                    <span>Запомнить меня</span>
                </div>

                <div class="loginhref">
                    <a href="/" th:href="@{/login}">У меня уже есть аккаунт</a>
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit"><span>Регистрация</span></button>
            </div>
        </div>
    </form>
</body>
</html>